[Unit]
Description=Syncthing
After=network.target

[Service]
ExecStart=/usr/bin/syncthing -no-browser -no-restart
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4
User=sync

[Install]
WantedBy=default.target
